<style type="text/css">
      .org-bold {
	/* bold */
	font-weight: bold;
      }
      .org-bold-italic {
	/* bold-italic */
	font-weight: bold;
	font-style: italic;
      }
      .org-border {
      }
      .org-browse-url-button {
	/* browse-url-button */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-buffer-menu-buffer {
	/* buffer-menu-buffer */
	font-weight: bold;
      }
      .org-builtin {
	/* font-lock-builtin-face */
      color:#006FE0;font-weight:bold;
      }
      .org-button {
	/* button */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-calendar-month-header {
	/* calendar-month-header */
	color: #00578E;
	font-weight: bold;
      }
      .org-calendar-today {
	/* calendar-today */
	text-decoration: underline;
      }
      .org-calendar-weekday-header {
	/* calendar-weekday-header */
	color: #F5666D;
      }
      .org-calendar-weekend-header {
	/* calendar-weekend-header */
	color: #204A87;
      }
      .org-comint-highlight-input {
	/* comint-highlight-input */
	font-weight: bold;
      }
      .org-comint-highlight-prompt {
	/* comint-highlight-prompt */
	color: #0084C8;
	font-weight: bold;
      }
      .org-comment {
	/* font-lock-comment-face */
	color:#8D8D84;font-style:italic;
      }
      .org-comment-delimiter {
	/* font-lock-comment-delimiter-face */
	color: #8D8D84;
      }
      .org-compilation-column-number {
	/* compilation-column-number */
	color: #4E9A06;
      }
      .org-compilation-error {
	/* compilation-error */
	color: #B50000;
      }
      .org-compilation-info {
	/* compilation-info */
	color: #4E9A06;
	font-weight: bold;
      }
      .org-compilation-line-number {
	/* compilation-line-number */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-compilation-mode-line-exit {
	/* compilation-mode-line-exit */
	color: #228b22;
	font-weight: bold;
      }
      .org-compilation-mode-line-fail {
	/* compilation-mode-line-fail */
	color: #ff0000;
	font-weight: bold;
      }
      .org-compilation-mode-line-run {
	/* compilation-mode-line-run */
	color: #CE5C00;
      }
      .org-compilation-warning {
	/* compilation-warning */
	color: #CE5C00;
      }
      .org-completions-annotations {
	/* completions-annotations */
	font-style: italic;
      }
      .org-completions-common-part {
	/* completions-common-part */
	color: #0000cd;
      }
      .org-completions-first-difference {
	/* completions-first-difference */
	font-weight: bold;
      }
      .org-constant {
	/* font-lock-constant-face */
	color: #D0372D;
      }
      .org-css-property {
	/* css-property */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-css-selector {
	/* css-selector */
	color: #00578E;
	font-weight: bold;
      }
      .org-cursor {
	/* cursor */
	background-color: #00BBFF;
      }
      .org-custom-button {
	/* custom-button */
	color: #000000;
	background-color: #d3d3d3;
      }
      .org-custom-button-mouse {
	/* custom-button-mouse */
	color: #000000;
	background-color: #e5e5e5;
      }
      .org-custom-button-pressed {
	/* custom-button-pressed */
	color: #000000;
	background-color: #d3d3d3;
      }
      .org-custom-button-pressed-unraised {
	/* custom-button-pressed-unraised */
	color: #8b008b;
	text-decoration: underline;
      }
      .org-custom-button-unraised {
	/* custom-button-unraised */
	text-decoration: underline;
      }
      .org-custom-changed {
	/* custom-changed */
	color: #ffffff;
	background-color: #0000ff;
      }
      .org-custom-comment {
	/* custom-comment */
	background-color: #d9d9d9;
      }
      .org-custom-comment-tag {
	/* custom-comment-tag */
	color: #00008b;
      }
      .org-custom-documentation {
      }
      .org-custom-face-tag {
	/* custom-face-tag */
	color: #0000ff;
	font-weight: bold;
      }
      .org-custom-group-subtitle {
	/* custom-group-subtitle */
	font-weight: bold;
      }
      .org-custom-group-tag {
	/* custom-group-tag */
	color: #0000ff;
	font-size: 120%;
	font-weight: bold;
      }
      .org-custom-group-tag-1 {
	/* custom-group-tag-1 */
	color: #ff0000;
	font-size: 120%;
	font-weight: bold;
      }
      .org-custom-invalid {
	/* custom-invalid */
	color: #ffff00;
	background-color: #ff0000;
      }
      .org-custom-link {
	/* custom-link */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-custom-modified {
	/* custom-modified */
	color: #ffffff;
	background-color: #0000ff;
      }
      .org-custom-rogue {
	/* custom-rogue */
	color: #ffc0cb;
	background-color: #000000;
      }
      .org-custom-saved {
	/* custom-saved */
	text-decoration: underline;
      }
      .org-custom-set {
	/* custom-set */
	color: #0000ff;
	background-color: #ffffff;
      }
      .org-custom-state {
	/* custom-state */
	color: #006400;
      }
      .org-custom-themed {
	/* custom-themed */
	color: #ffffff;
	background-color: #0000ff;
      }
      .org-custom-variable-button {
	/* custom-variable-button */
	font-weight: bold;
	text-decoration: underline;
      }
      .org-custom-variable-obsolete {
	/* custom-variable-obsolete */
	color: #0000ff;
      }
      .org-custom-variable-tag {
	/* custom-variable-tag */
	color: #0000ff;
	font-weight: bold;
      }
      .org-custom-visibility {
	/* custom-visibility */
	color: #0066CC;
	font-size: 80%;
	text-decoration: underline;
      }
      .org-diary {
	/* diary */
	color: #ff0000;
      }
      .org-dired-directory {
	/* dired-directory */
	color: #00578E;
	font-weight: bold;
      }
      .org-dired-flagged {
	/* dired-flagged */
	color: #B50000;
      }
      .org-dired-header {
	/* dired-header */
	color: #0084C8;
	font-weight: bold;
      }
      .org-dired-ignored {
	/* dired-ignored */
	color: #7f7f7f;
      }
      .org-dired-mark {
	/* dired-mark */
	color: #F5666D;
      }
      .org-dired-marked {
	/* dired-marked */
	color: #CE5C00;
      }
      .org-dired-perm-write {
	/* dired-perm-write */
	color: #204A87;
      }
      .org-dired-set-id {
	/* dired-set-id */
	color: #F5666D;
	font-weight: bold;
      }
      .org-dired-special {
	/* dired-special */
	color: #0084C8;
	font-weight: bold;
      }
      .org-dired-symlink {
	/* dired-symlink */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-dired-warning {
	/* dired-warning */
	color: #F5666D;
	font-weight: bold;
      }
      .org-doc {
	/* font-lock-doc-face */
	color: #008000;
      }
      .org-eldoc-highlight-function-argument {
	/* eldoc-highlight-function-argument */
	font-weight: bold;
      }
      .org-epa-field-body {
	/* epa-field-body */
	font-style: italic;
      }
      .org-epa-field-name {
	/* epa-field-name */
	font-weight: bold;
      }
      .org-epa-mark {
	/* epa-mark */
	color: #ff0000;
	font-weight: bold;
      }
      .org-epa-string {
	/* epa-string */
	color: #00008b;
      }
      .org-epa-validity-disabled {
	/* epa-validity-disabled */
	font-style: italic;
      }
      .org-epa-validity-high {
	/* epa-validity-high */
	font-weight: bold;
      }
      .org-epa-validity-low {
	/* epa-validity-low */
	font-style: italic;
      }
      .org-epa-validity-medium {
	/* epa-validity-medium */
	font-style: italic;
      }
      .org-error {
	/* error */
	color: #B50000;
      }
      .org-escape-glyph {
	/* escape-glyph */
	color: #a52a2a;
      }
      .org-eww-form-checkbox {
	/* eww-form-checkbox */
	color: #000000;
	background-color: #d3d3d3;
      }
      .org-eww-form-file {
	/* eww-form-file */
	color: #000000;
	background-color: #808080;
      }
      .org-eww-form-select {
	/* eww-form-select */
	color: #000000;
	background-color: #d3d3d3;
      }
      .org-eww-form-submit {
	/* eww-form-submit */
	color: #000000;
	background-color: #808080;
      }
      .org-eww-form-text {
	/* eww-form-text */
	color: #ffffff;
	background-color: #505050;
      }
      .org-eww-form-textarea {
	/* eww-form-textarea */
	color: #000000;
	background-color: #C0C0C0;
      }
      .org-eww-invalid-certificate {
	/* eww-invalid-certificate */
	color: #ff0000;
	font-weight: bold;
      }
      .org-eww-valid-certificate {
	/* eww-valid-certificate */
	color: #228b22;
	font-weight: bold;
      }
      .org-file-name-shadow {
	/* file-name-shadow */
	color: #7f7f7f;
      }
      .org-fill-column-indicator {
	/* fill-column-indicator */
	color: #7f7f7f;
      }
      .org-fixed-pitch {
      }
      .org-fixed-pitch-serif {
      }
      .org-fringe {
	/* fringe */
	background-color: #E6E6E6;
      }
      .org-function-name {
	/* font-lock-function-name-face */
	color: #006699;
      }
      .org-glyphless-char {
	/* glyphless-char */
	font-size: 60%;
      }
      .org-gnus-group-mail-1 {
	/* gnus-group-mail-1 */
	color: #4F78B5;
	font-weight: bold;
      }
      .org-gnus-group-mail-1-empty {
	/* gnus-group-mail-1-empty */
	color: #00578E;
      }
      .org-gnus-group-mail-2 {
	/* gnus-group-mail-2 */
	color: #cd6090;
	font-weight: bold;
      }
      .org-gnus-group-mail-2-empty {
	/* gnus-group-mail-2-empty */
	color: #cd6090;
      }
      .org-gnus-group-mail-3 {
	/* gnus-group-mail-3 */
	color: #9CBB43;
	font-weight: bold;
      }
      .org-gnus-group-mail-3-empty {
	/* gnus-group-mail-3-empty */
	color: #00578E;
      }
      .org-gnus-group-mail-low {
	/* gnus-group-mail-low */
	color: #8b0a50;
	font-weight: bold;
      }
      .org-gnus-group-mail-low-empty {
	/* gnus-group-mail-low-empty */
	color: #8b0a50;
      }
      .org-gnus-group-news-1 {
	/* gnus-group-news-1 */
	color: #228b22;
	font-weight: bold;
      }
      .org-gnus-group-news-1-empty {
	/* gnus-group-news-1-empty */
	color: #228b22;
      }
      .org-gnus-group-news-2 {
	/* gnus-group-news-2 */
	color: #53868b;
	font-weight: bold;
      }
      .org-gnus-group-news-2-empty {
	/* gnus-group-news-2-empty */
	color: #53868b;
      }
      .org-gnus-group-news-3 {
	/* gnus-group-news-3 */
	color: #9CBB43;
	font-weight: bold;
      }
      .org-gnus-group-news-3-empty {
	/* gnus-group-news-3-empty */
	color: #00578E;
      }
      .org-gnus-group-news-4 {
	/* gnus-group-news-4 */
	font-weight: bold;
      }
      .org-gnus-group-news-4-empty {
      }
      .org-gnus-group-news-5 {
	/* gnus-group-news-5 */
	font-weight: bold;
      }
      .org-gnus-group-news-5-empty {
      }
      .org-gnus-group-news-6 {
	/* gnus-group-news-6 */
	font-weight: bold;
      }
      .org-gnus-group-news-6-empty {
      }
      .org-gnus-group-news-low {
	/* gnus-group-news-low */
	color: #006400;
	font-weight: bold;
      }
      .org-gnus-group-news-low-empty {
	/* gnus-group-news-low-empty */
	color: #006400;
      }
      .org-gnus-splash {
	/* gnus-splash */
	color: #888888;
      }
      .org-gnus-summary-cancelled {
	/* gnus-summary-cancelled */
	color: #ffff00;
	background-color: #000000;
      }
      .org-gnus-summary-high-ancient {
	/* gnus-summary-high-ancient */
	color: #4169e1;
	font-weight: bold;
      }
      .org-gnus-summary-high-read {
	/* gnus-summary-high-read */
	color: #006400;
	font-weight: bold;
      }
      .org-gnus-summary-high-ticked {
	/* gnus-summary-high-ticked */
	color: #b22222;
	font-weight: bold;
      }
      .org-gnus-summary-high-undownloaded {
	/* gnus-summary-high-undownloaded */
	color: #008b8b;
	font-weight: bold;
      }
      .org-gnus-summary-high-unread {
	/* gnus-summary-high-unread */
	font-weight: bold;
      }
      .org-gnus-summary-low-ancient {
	/* gnus-summary-low-ancient */
	color: #4169e1;
	font-style: italic;
      }
      .org-gnus-summary-low-read {
	/* gnus-summary-low-read */
	color: #006400;
	font-style: italic;
      }
      .org-gnus-summary-low-ticked {
	/* gnus-summary-low-ticked */
	color: #b22222;
	font-style: italic;
      }
      .org-gnus-summary-low-undownloaded {
	/* gnus-summary-low-undownloaded */
	color: #008b8b;
	font-style: italic;
      }
      .org-gnus-summary-low-unread {
	/* gnus-summary-low-unread */
	font-style: italic;
      }
      .org-gnus-summary-normal-ancient {
	/* gnus-summary-normal-ancient */
	color: #4169e1;
      }
      .org-gnus-summary-normal-read {
	/* gnus-summary-normal-read */
	color: #006400;
      }
      .org-gnus-summary-normal-ticked {
	/* gnus-summary-normal-ticked */
	color: #b22222;
      }
      .org-gnus-summary-normal-undownloaded {
	/* gnus-summary-normal-undownloaded */
	color: #008b8b;
      }
      .org-gnus-summary-normal-unread {
      }
      .org-gnus-summary-selected {
	/* gnus-summary-selected */
	text-decoration: underline;
      }
      .org-header-line {
	/* header-line */
	color: #CCCCCC;
	background-color: #000000;
      }
      .org-header-line-highlight {
	/* header-line-highlight */
	color: #ffffff;
	background-color: #4A90D9;
      }
      .org-help-argument-name {
	/* help-argument-name */
	font-style: italic;
      }
      .org-highlight {
	/* highlight */
	color: #ffffff;
	background-color: #4A90D9;
      }
      .org-holiday {
	/* holiday */
	background-color: #ffc0cb;
      }
      .org-homoglyph {
	/* homoglyph */
	color: #a52a2a;
      }
      .org-info-header-node {
	/* info-header-node */
	color: #a52a2a;
	font-weight: bold;
	font-style: italic;
      }
      .org-info-header-xref {
	/* info-header-xref */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-info-index-match {
	/* info-index-match */
	background-color: #ffff00;
      }
      .org-info-menu-header {
	/* info-menu-header */
	font-weight: bold;
      }
      .org-info-menu-star {
	/* info-menu-star */
	color: #ff0000;
      }
      .org-info-node {
	/* info-node */
	color: #a52a2a;
	font-weight: bold;
	font-style: italic;
      }
      .org-info-quoted {
      }
      .org-info-title-1 {
	/* info-title-1 */
	font-size: 172%;
	font-weight: bold;
      }
      .org-info-title-2 {
	/* info-title-2 */
	font-size: 144%;
	font-weight: bold;
      }
      .org-info-title-3 {
	/* info-title-3 */
	font-size: 120%;
	font-weight: bold;
      }
      .org-info-title-4 {
	/* info-title-4 */
	font-weight: bold;
      }
      .org-info-xref {
	/* info-xref */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-internal-border {
      }
      .org-isearch {
	/* isearch */
	color: #ffffff;
	background-color: #77A4DD;
      }
      .org-isearch-fail {
	/* isearch-fail */
	background-color: #ffc1c1;
      }
      .org-italic {
	/* italic */
	font-style: italic;
      }
      .org-keyword {
	/* font-lock-keyword-face */
	color: #0000FF;
      }
      .org-lazy-highlight {
	/* lazy-highlight */
	background-color: #afeeee;
      }
      .org-line-number-current-line {
	/* line-number-current-line */
	color: #7f7f7f;
	background-color: #EDEDED;
      }
      .org-line-number-major-tick {
	/* line-number-major-tick */
	background-color: #d9d9d9;
	font-weight: bold;
      }
      .org-line-number-minor-tick {
	/* line-number-minor-tick */
	background-color: #f2f2f2;
	font-weight: bold;
      }
      .org-link {
	/* link */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-link-visited {
	/* link-visited */
	color: #6799CC;
	text-decoration: underline;
      }
      .org-match {
	/* match */
	background-color: #ffff00;
      }
      .org-menu {
      }
      .org-message-cited-text-1 {
	/* message-cited-text-1 */
	color: #ff0000;
      }
      .org-message-cited-text-2 {
	/* message-cited-text-2 */
	color: #8b0000;
      }
      .org-message-cited-text-3 {
	/* message-cited-text-3 */
	color: #698b22;
      }
      .org-message-cited-text-4 {
	/* message-cited-text-4 */
	color: #36648b;
      }
      .org-message-header-cc {
	/* message-header-cc */
	color: #191970;
      }
      .org-message-header-name {
	/* message-header-name */
	color: #6495ed;
      }
      .org-message-header-newsgroups {
	/* message-header-newsgroups */
	color: #00008b;
	font-weight: bold;
	font-style: italic;
      }
      .org-message-header-other {
	/* message-header-other */
	color: #4682b4;
      }
      .org-message-header-subject {
	/* message-header-subject */
	color: #000080;
	font-weight: bold;
      }
      .org-message-header-to {
	/* message-header-to */
	color: #191970;
	font-weight: bold;
      }
      .org-message-header-xheader {
	/* message-header-xheader */
	color: #0000ff;
      }
      .org-message-mml {
	/* message-mml */
	color: #228b22;
      }
      .org-message-separator {
	/* message-separator */
	color: #a52a2a;
      }
      .org-minibuffer-prompt {
	/* minibuffer-prompt */
	color: #0084C8;
	font-weight: bold;
      }
      .org-mm-command-output {
	/* mm-command-output */
	color: #cd0000;
      }
      .org-mode-line {
	/* mode-line */
	color: #2E3436;
	background-color: #ffffff;
      }
      .org-mode-line-buffer-id {
	/* mode-line-buffer-id */
	font-weight: bold;
      }
      .org-mode-line-emphasis {
	/* mode-line-emphasis */
	font-weight: bold;
      }
      .org-mode-line-highlight {
      }
      .org-mode-line-inactive {
	/* mode-line-inactive */
	color: #C6C6C6;
	background-color: #ffffff;
      }
      .org-mouse {
      }
      .org-mouse-drag-and-drop-region {
	/* mouse-drag-and-drop-region */
	background-color: #C2D5E9;
      }
      .org-negation-char {
      }
      .org-next-error {
	/* next-error */
	background-color: #C2D5E9;
      }
      .org-nobreak-hyphen {
	/* nobreak-hyphen */
	color: #a52a2a;
      }
      .org-nobreak-space {
	/* nobreak-space */
	color: #a52a2a;
	text-decoration: underline;
      }
      .org-org-agenda-calendar-event {
	/* org-agenda-calendar-event */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-org-agenda-calendar-sexp {
	/* org-agenda-calendar-sexp */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-org-agenda-clocking {
	/* org-agenda-clocking */
	background-color: #ffff00;
      }
      .org-org-agenda-column-dateline {
	/* org-agenda-column-dateline */
	background-color: #e5e5e5;
      }
      .org-org-agenda-current-time {
	/* org-agenda-current-time */
	color: #b8860b;
      }
      .org-org-agenda-date {
	/* org-agenda-date */
	color: #0000ff;
      }
      .org-org-agenda-date-today {
	/* org-agenda-date-today */
	color: #0000ff;
	font-weight: bold;
	font-style: italic;
      }
      .org-org-agenda-date-weekend {
	/* org-agenda-date-weekend */
	color: #0000ff;
	font-weight: bold;
      }
      .org-org-agenda-diary {
	/* org-agenda-diary */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-org-agenda-dimmed-todo {
	/* org-agenda-dimmed-todo-face */
	color: #7f7f7f;
      }
      .org-org-agenda-done {
	/* org-agenda-done */
	color: #228b22;
      }
      .org-org-agenda-filter-category {
	/* org-agenda-filter-category */
	color: #2E3436;
	background-color: #ffffff;
      }
      .org-org-agenda-filter-effort {
	/* org-agenda-filter-effort */
	color: #2E3436;
	background-color: #ffffff;
      }
      .org-org-agenda-filter-regexp {
	/* org-agenda-filter-regexp */
	color: #2E3436;
	background-color: #ffffff;
      }
      .org-org-agenda-filter-tags {
	/* org-agenda-filter-tags */
	color: #2E3436;
	background-color: #ffffff;
      }
      .org-org-agenda-restriction-lock {
	/* org-agenda-restriction-lock */
	background-color: #eeeeee;
      }
      .org-org-agenda-structure {
	/* org-agenda-structure */
	color: #0000ff;
      }
      .org-org-archived {
	/* org-archived */
	color: #7f7f7f;
      }
      .example {
	/* org-archived */
	background-color: #FDF6E3;
      }
      .org-org-block-begin-line {
	/* org-block-begin-line */
	color: #204A87;
      }
      .org-org-block-end-line {
	/* org-block-end-line */
	color: #204A87;
      }
      .org-org-checkbox {
	/* org-checkbox */
	font-weight: bold;
      }
      .org-org-checkbox-statistics-done {
	/* org-checkbox-statistics-done */
	color: #228b22;
	font-weight: bold;
      }
      .org-org-checkbox-statistics-todo {
	/* org-checkbox-statistics-todo */
	color: #ff0000;
	font-weight: bold;
      }
      .org-org-cite {
	/* org-cite */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-org-cite-key {
	/* org-cite-key */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-org-clock-overlay {
	/* org-clock-overlay */
	color: #000000;
	background-color: #d3d3d3;
      }
      .org-org-column {
	/* org-column */
	background-color: #e5e5e5;
      }
      .org-org-column-title {
	/* org-column-title */
	background-color: #e5e5e5;
	font-weight: bold;
	text-decoration: underline;
      }
      .org-org-date {
	/* org-date */
	color: #a020f0;
	text-decoration: underline;
      }
      .org-org-date-selected {
	/* org-date-selected */
	color: #ff0000;
      }
      .org-org-default {
	/* org-default */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-org-dispatcher-highlight {
	/* org-dispatcher-highlight */
	color: #00008b;
	background-color: #c6e2ff;
	font-weight: bold;
      }
      .org-org-document-info {
	/* org-document-info */
	color: #191970;
      }
      .org-org-document-info-keyword {
	/* org-document-info-keyword */
	color: #7f7f7f;
      }
      .org-org-document-title {
	/* org-document-title */
	color: #191970;
	font-weight: bold;
      }
      .org-org-done {
	/* org-done */
	color: #228b22;
	font-weight: bold;
      }
      .org-org-drawer {
	/* org-drawer */
	color: #0000ff;
      }
      .org-org-ellipsis {
	/* org-ellipsis */
	color: #b8860b;
	text-decoration: underline;
      }
      .org-org-footnote {
	/* org-footnote */
	color: #a020f0;
	text-decoration: underline;
      }
      .org-org-formula {
	/* org-formula */
	color: #b22222;
      }
      .org-org-headline-done {
	/* org-headline-done */
	color: #bc8f8f;
      }
      .org-org-headline-todo {
	/* org-headline-todo */
	color: #8b0000;
      }
      .org-org-hide {
	/* org-hide */
	color: #FFFFFF;
      }
      .org-org-latex-and-related {
	/* org-latex-and-related */
	color: #8b4513;
      }
      .org-org-level-1 {
	/* org-level-1 */
	color: #00578E;
	font-weight: bold;
      }
      .org-org-level-2 {
	/* org-level-2 */
	color: #0084C8;
	font-weight: bold;
      }
      .org-org-level-3 {
	/* org-level-3 */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-org-level-4 {
	/* org-level-4 */
	color: #204A87;
      }
      .org-org-level-5 {
	/* org-level-5 */
	color: #2F8B58;
	font-weight: bold;
      }
      .org-org-level-6 {
	/* org-level-6 */
	color: #F5666D;
      }
      .org-org-level-7 {
	/* org-level-7 */
	color: #A020F0;
      }
      .org-org-level-8 {
	/* org-level-8 */
	color: #4E9A06;
      }
      .org-org-link {
	/* org-link */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-org-list-dt {
	/* org-list-dt */
	font-weight: bold;
      }
      .org-org-macro {
	/* org-macro */
	color: #8b4513;
      }
      .org-org-mode-line-clock {
	/* org-mode-line-clock */
	color: #2E3436;
	background-color: #ffffff;
      }
      .org-org-mode-line-clock-overrun {
	/* org-mode-line-clock-overrun */
	color: #2E3436;
	background-color: #ff0000;
      }
      .org-org-priority {
	/* org-priority */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-org-property-value {
      }
      .org-org-quote {
	/* org-quote */
	color: #7f7f7f;
      }
      .org-org-scheduled {
	/* org-scheduled */
	color: #006400;
      }
      .org-org-scheduled-previously {
	/* org-scheduled-previously */
	color: #b22222;
      }
      .org-org-scheduled-today {
	/* org-scheduled-today */
	color: #006400;
      }
      .org-org-sexp-date {
	/* org-sexp-date */
	color: #a020f0;
      }
      .org-org-special-keyword {
	/* org-special-keyword */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-org-table {
	/* org-table */
	color: #0000ff;
      }
      .org-org-table-header {
	/* org-table-header */
	color: #000000;
	background-color: #d3d3d3;
      }
      .org-org-tag {
	/* org-tag */
	font-weight: bold;
      }
      .org-org-tag-group {
	/* org-tag-group */
	font-weight: bold;
      }
      .org-org-target {
	/* org-target */
	text-decoration: underline;
      }
      .org-org-time-grid {
	/* org-time-grid */
	color: #b8860b;
      }
      .org-org-todo {
	/* org-todo */
	color: #ff0000;
	font-weight: bold;
      }
      .org-org-upcoming-deadline {
	/* org-upcoming-deadline */
	color: #b22222;
      }
      .org-org-upcoming-distant-deadline {
	/* org-upcoming-distant-deadline */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-org-verse {
	/* org-verse */
	color: #7f7f7f;
      }
      .org-org-warning {
	/* org-warning */
	color: #F5666D;
	font-weight: bold;
      }
      .org-outline-1 {
	/* outline-1 */
	color: #00578E;
	font-weight: bold;
      }
      .org-outline-2 {
	/* outline-2 */
	color: #0084C8;
	font-weight: bold;
      }
      .org-outline-3 {
	/* outline-3 */
	color: #A52A2A;
	font-weight: bold;
      }
      .org-outline-4 {
	/* outline-4 */
	color: #204A87;
      }
      .org-outline-5 {
	/* outline-5 */
	color: #2F8B58;
	font-weight: bold;
      }
      .org-outline-6 {
	/* outline-6 */
	color: #F5666D;
      }
      .org-outline-7 {
	/* outline-7 */
	color: #A020F0;
      }
      .org-outline-8 {
	/* outline-8 */
	color: #4E9A06;
      }
      .org-package-description {
	/* package-description */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-package-name {
	/* package-name */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-package-status-avail-obso {
	/* package-status-avail-obso */
	color: #B50000;
      }
      .org-package-status-available {
	/* package-status-available */
	color: #2E3436;
	background-color: #EDEDED;
      }
      .org-package-status-built-in {
	/* package-status-built-in */
	color: #A020F0;
      }
      .org-package-status-dependency {
	/* package-status-dependency */
	color: #204A87;
      }
      .org-package-status-disabled {
	/* package-status-disabled */
	color: #F5666D;
	font-weight: bold;
      }
      .org-package-status-external {
	/* package-status-external */
	color: #A020F0;
      }
      .org-package-status-held {
	/* package-status-held */
	color: #F5666D;
      }
      .org-package-status-incompat {
	/* package-status-incompat */
	color: #B50000;
      }
      .org-package-status-installed {
	/* package-status-installed */
	color: #204A87;
      }
      .org-package-status-unsigned {
	/* package-status-unsigned */
	color: #F5666D;
	font-weight: bold;
      }
      .org-preprocessor {
	/* font-lock-preprocessor-face */
	color:#808080;font-weight:bold;
      }
      .org-query-replace {
	/* query-replace */
	color: #ffffff;
	background-color: #77A4DD;
      }
      .org-read-multiple-choice {
	/* read-multiple-choice-face */
	font-weight: bold;
	text-decoration: underline;
      }
      .org-regexp-grouping-backslash {
	/* font-lock-regexp-grouping-backslash */
	font-weight: bold;
      }
      .org-regexp-grouping-construct {
	/* font-lock-regexp-grouping-construct */
	font-weight: bold;
      }
      .org-region {
	/* region */
	background-color: #C2D5E9;
      }
      .org-rmail-header-name {
	/* rmail-header-name */
	color: #00578E;
	font-weight: bold;
      }
      .org-rmail-highlight {
	/* rmail-highlight */
	color: #ffffff;
	background-color: #4A90D9;
      }
      .org-scroll-bar {
      }
      .org-secondary-selection {
	/* secondary-selection */
	background-color: #ffff00;
      }
      .org-sgml-namespace {
	/* sgml-namespace */
	color: #A020F0;
      }
      .org-shadow {
	/* shadow */
	color: #7f7f7f;
      }
      .org-show-paren-match {
	/* show-paren-match */
	background-color: #40e0d0;
      }
      .org-show-paren-match-expression {
	/* show-paren-match-expression */
	background-color: #40e0d0;
      }
      .org-show-paren-mismatch {
	/* show-paren-mismatch */
	color: #ffffff;
	background-color: #a020f0;
      }
      .org-shr-abbreviation {
	/* shr-abbreviation */
	text-decoration: underline;
      }
      .org-shr-link {
	/* shr-link */
	color: #0066CC;
	text-decoration: underline;
      }
      .org-shr-selected-link {
	/* shr-selected-link */
	color: #0066CC;
	background-color: #ff0000;
	text-decoration: underline;
      }
      .org-shr-strike-through {
	/* shr-strike-through */
	text-decoration: line-through;
      }
      .org-string {
	/* font-lock-string-face */
	color: #008000;
      }
      .org-success {
	/* success */
	color: #4E9A06;
	font-weight: bold;
      }
      .org-tab-bar {
	/* tab-bar */
	color: #000000;
	background-color: #d9d9d9;
      }
      .org-org-meta-line {
	/* meta-line */
	color: #008ED1;
	background-color: #EAEAFF;
      }
      .org-tab-bar-tab {
	/* tab-bar-tab */
	color: #000000;
	background-color: #d9d9d9;
      }
      .org-tab-bar-tab-inactive {
	/* tab-bar-tab-inactive */
	color: #000000;
	background-color: #bfbfbf;
      }
      .org-tab-line {
	/* tab-line */
	color: #000000;
	background-color: #d9d9d9;
	font-size: 90%;
      }
      .org-table-cell {
	/* table-cell */
	color: #e5e5e5;
	background-color: #0000ff;
      }
      .org-tabulated-list-fake-header {
	/* tabulated-list-fake-header */
	font-weight: bold;
	text-decoration: underline;
	text-decoration: overline;
      }
      .org-tool-bar {
	/* tool-bar */
	color: #000000;
	background-color: #bfbfbf;
      }
      .org-tooltip {
	/* tooltip */
	color: #000000;
	background-color: #ffffe0;
      }
      .org-trailing-whitespace {
	/* trailing-whitespace */
	background-color: #ff0000;
      }
      .org-tty-menu-disabled {
	/* tty-menu-disabled-face */
	color: #d3d3d3;
	background-color: #0000ff;
      }
      .org-tty-menu-enabled {
	/* tty-menu-enabled-face */
	color: #ffff00;
	background-color: #0000ff;
	font-weight: bold;
      }
      .org-tty-menu-selected {
	/* tty-menu-selected-face */
	background-color: #ff0000;
      }
      .org-type {
	/* font-lock-type-face */
	color: #6434A3;
      }
      .org-underline {
	/* underline */
	text-decoration: underline;
      }
      .org-variable-name {
	/* font-lock-variable-name-face */
	color: #BA36A5;
      }
      .org-variable-pitch {
      }
      .org-vc-conflict-state {
      }
      .org-vc-edited-state {
      }
      .org-vc-locally-added-state {
      }
      .org-vc-locked-state {
      }
      .org-vc-missing-state {
      }
      .org-vc-needs-update-state {
      }
      .org-vc-removed-state {
      }
      .org-vc-state-base {
      }
      .org-vc-up-to-date-state {
      }
      .org-vertical-border {
      }
      .org-warning {
	/* warning */
	color: #CE5C00;
      }
      .org-warning-1 {
	/* font-lock-warning-face */
	color: #F5666D;
	font-weight: bold;
      }
      .org-widget-button {
	/* widget-button */
	color: #0084C8;
	font-weight: bold;
      }
      .org-widget-button-pressed {
	/* widget-button-pressed */
	color: #ff0000;
      }
      .org-widget-documentation {
	/* widget-documentation */
	color: #006400;
      }
      .org-widget-field {
	/* widget-field */
	background-color: #d9d9d9;
      }
      .org-widget-inactive {
	/* widget-inactive */
	color: #7f7f7f;
      }
      .org-widget-single-line-field {
	/* widget-single-line-field */
	background-color: #d9d9d9;
      }
      .org-window-divider {
	/* window-divider */
	color: #999999;
      }
      .org-window-divider-first-pixel {
	/* window-divider-first-pixel */
	color: #cccccc;
      }
      .org-window-divider-last-pixel {
	/* window-divider-last-pixel */
	color: #666666;
      }
</style>
